@import "css/index.css";
@import "css/photon-colors.css";
@import "css/button.css";
@import "css/input.css";
@import "css/checkbox.css";
@import "nav/Navigation.css";
/*noinspection CssUnknownTarget*/
@import "chrome://browser/skin/preferences/in-content/containers.css";
@import "ui-components/Select.css";
@import "ProxyForm/ProxyForm.css";
@import "ProxyList.css";


* {
    box-sizing: border-box;
}

:root {
    --header-height: 240px;
    --left-margin: 34px;

    text-rendering: optimizeLegibility;
    -moz-control-character-visibility: visible;
}

:root {
    --in-content-category-outline-focus: 1px dotted #0a84ff;

    --in-content-category-text-selected: #0a84ff;

    --in-content-category-text-selected-active: #0060df;

    --in-content-category-background-hover: rgba(12, 12, 13, 0.1);

    --in-content-category-background-active: rgba(12, 12, 13, 0.15);

    --in-content-category-background-selected-hover: rgba(12, 12, 13, 0.15);

    --in-content-category-background-selected-active: rgba(12, 12, 13, 0.2);
}

:root > * {
    /**/

}

html, body {
    height: 100%;
}


body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}


.logo {
    width: calc(var(--header-height) - var(--left-margin));
    height: calc(var(--header-height) - var(--left-margin));
    background-image: url("/icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 34px;
    background-size: calc(var(--header-height) - var(--left-margin) - 16px * 2);
}

header {
    height: var(--header-height);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    font-size: 1.36em;
}

main {
    flex-grow: 1;
    display: flex;
}

.content {
    min-width: 664px;
    padding: 0 28px 40px 28px;
    font-size: 1.36em;
    overflow: auto;
}

.container-item, .proxy-list-item {
    display: flex;
    align-items: center;

    margin-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--grey-90-a30);
}

.container-item:last-of-type {
    border-bottom: none;
}

.proxy-list-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.container-label {
    display: flex;
    align-items: center;
    color: var(--identity-icon-color);
    min-width: 200px;
    height: 40px;
    flex-grow: 1;
}

.proxy-name {
    flex-grow: 1;
}

.container-icon {
    height: 24px;
    width: 24px;

    background-image: var(--identity-icon);
    -moz-context-properties: fill;
    fill: var(--identity-icon-color);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    margin-right: 4px;
}

