select {
  background-color: var(--grey-90-a10);
  border: 0 none;
  border-radius: 2px;
  color: var(--grey-90);

  font-family: inherit;
  font-weight: 400;
  height: 32px;

  padding: 0 calc(8px + 4px + 12px) 0 8px;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  background-image: url("icons/Arrowhead Down.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 4px) center;
}

/* Hover, Active states */

select:focus {
  box-shadow:
    0 0 0 1px var(--blue-50) inset,
    0 0 0 1px var(--blue-50),
    0 0 0 4px var(--blue-50-a30);
}

select:hover,
a.select:hover {
  box-shadow: none;
  background-color: var(--grey-90-a20);
}

select:active {
  box-shadow: none;
  background-color: var(--grey-90-a30);
}

select::-moz-focusring {
  outline: none;
}

select::-moz-focus-inner {
  border: 0;
}
