.select {
    position: relative;
}

.select__field {
    border-color: var(--grey-90-a20);
    border-width: 1.5px;
    border-radius: 2px;
    border-style: solid;
    color: var(--grey-90);
    font-size: .833rem/1.4;
    height: 32px;
    padding: 8px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    /*Added*/
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-image: url("../icons/Arrowhead Down.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 4px) center;
}

.select .select__field {
    width: 100%;
}

.select__field:hover {
    border-color: var(--grey-90-a30);
}

.select__field:focus {
    border-color: var(--blue-50);
    box-shadow: 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, .3);
}

.select__field::placeholder {
    color: var(--grey-50);
    font-size: .833rem/1.4;
    margin-bottom: 8px;
}

.select--warning__field {
    border-color: var(--yellow-60);
    box-shadow: 0 0 0 1px #d7b600, 0 0 0 4px rgba(215, 182, 0, .3);
}

.select--error__field {
    border-color: var(--red-60);
    box-shadow: 0 0 0 1px #d70022, 0 0 0 4px rgba(251, 0, 34, .3);
}

.select--icon__field {
    padding-left: 32px;
    background-size: 16px 16px;
    background-image: var(--icon);
    background-repeat: no-repeat;
    background-position: 8px center;
}

.select__label {
    display: block;
}


.select__clear {
    cursor: pointer;
    margin-left: -2em;
    background: rgba(255, 255, 255, .7);
}

.select__clear {
    margin-left: -2.5em;
    padding: 6px 14px;
    background-image: url(./searchfield-cancel.svg);
    background-position: center;
    background-size: 16px 16px;
    background-repeat: no-repeat;
}
