
.ProxyForm__connectionSettings {
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
}

.ProxyForm__hostInput {
    flex-grow: 1;
}

.ProxyForm__portInput {
    flex-basis: 4em;
}

.ProxyForm__separator {
    color: var(--grey-50);
    align-self: end;
    padding: 4px;
}

.ProxyForm__credentials {
    display: flex;
    margin-bottom: 8px;
    justify-content: stretch;
}

.ProxyForm__credentials > * {
    flex-grow: 1;
}

.ProxyForm__credentials > :first-child {
    padding-right: 4px;
}

.ProxyForm__advanced {
    display: flex;
    margin-bottom: 8px;
    justify-content: stretch;
}

.ProxyForm__advanced > * {
    flex-grow: 1;
}

.ProxyForm__advanced > :first-child {
    padding-right: 4px;
}

.ProxyForm__actions > *:not(:first-child) {
    margin-left: var(--baseline-grid);
}

.ProxyForm__duckduckgo-attribution {
    background-image: url("../icons/DuckDuckGo_logo.v107.min.svg");
    background-repeat: no-repeat no-repeat;
    background-position: 100%;
    background-size: contain;
    padding-right: 1.3em;

    font-size: 80%;
}
